*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  font-family: Calibri
}
body{
  height: 100vh;
  background-color: rgb(39, 39, 39); 
  text-align: center; 
}

#title{
  margin-top: -50px;
}
p:nth-child(4){
font-family: Tahoma
}
#text2{
  font-size: 15px;
  margin: 0;
}
#againA{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#again{
  display: none;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  border: none;
  padding: 40px;
  text-align: center;
  font-size: xx-large;
  cursor: pointer;
  transition: 0.5s; 
}

#again:hover{
  opacity: 90%;
  transform: scale(1.1);
}

.div2{
  margin-top: -50px;
}
#torf{
  margin-top: 20px;
  font-size: 40px;
  color: greenyellow;
}

#container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#board{
  display: grid;
  grid-template-columns: 300px 300px;
  gap:30px;
}
.square{
  width: 100%;
  height: 300px;
  cursor: pointer;  
  border-radius: 20px;

}
.countDown p{
  font-size: 30px;
  
}


#oneNumber{
  display: none;
}
#threeNumber{
  display: none;
}
#twoNumber{
  display:none;
}

#div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
#container button{
  margin-top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  color: black;
  padding: 10px;
  font-size: xx-large;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}
#container button:hover{
  opacity: 90%;
  transform: scale(1.1);
}


.barsNav{
  display: none;
}
.sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidebar a{
  padding: 20px 0px 20px 0px;
  text-decoration: none;
  font-size: 20px;
  width: 50px;
  margin-left: 20px;

  display: block;
  transition: 0.3s;
}

.closebutton{
  padding: 0px 0px 0px 0px;
  font-size: 28px;
  margin-top: -10px;
  color: #666666;
  border: none;
  margin-left: -89px;
  background-color: inherit;
}


.dropbtn:hover, .dropbtn:focus {
  opacity: 90%;
}


.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 12px;
  font-size: 20px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  opacity: 90%;
}

.modosbtn:hover, .modosbtn:focus {
  opacity: 90%;
}

.dropdown {
  position: relative;
  color: #000000;
  border: none;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  margin: 5px;
  border-radius: 15px;  
  right: 1%;
}

.dropdown-content button{
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  border: none;

  width: 100%;
}


.dropdown-content button:hover {background-color: #ddd;}
.modos-content button:hover {background-color: #ddd;}
.modosD{
  display: flex;
  flex-direction: row-reverse;
  margin: none;
}
.modosD p{
  font-size: 20px;
  display: flex;
align-self: center;
}
.modos{
  position: relative;
  color: #000000;
  border: none;
  display: inline-block;
}
.modos-content button{
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  border: none;

  width: 100%;
}
.dropdown-content1{
  display: none;
}
.modos-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  margin: 5px;
  border-radius: 15px;

}
.modosbtn{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 12px;
  font-size: 20px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;

}
.show {display:block;}
.red{
  background-color: rgb(233, 60, 60);
}
.yellow{
  background-color: rgb(230, 230, 37);
}
.blue{
  background-color: rgb(43, 43, 223);
}
.green{
  background-color: rgb(144, 187, 79);
}

.blue2{
  background-color: blue;
  box-shadow:0 0 2px blue, 0 0 4px blue, 0 0 6px blue, 0 0 8px blue, 0 0 10px blue, 0 0 14px blue, 0 0 16px blue, 0 0 20px  blue, 0 0 30px blue;
  animation: neon-glow4 1s ease-in-out infinite alternate;  
}

.yellow2{
  background-color: yellow;
  animation: neon-glow2 1s ease-in-out infinite alternate;  
  box-shadow:0 0 2px yellow, 0 0 4px yellow, 0 0 6px yellow, 0 0 8px yellow, 0 0 10px yellow, 0 0 14px yellow, 0 0 16px yellow, 0 0 20px yellow, 0 0 30px yellow;

}

.green2{
background-color: greenyellow;
box-shadow:0 0 2px greenyellow, 0 0 4px greenyellow, 0 0 6px greenyellow, 0 0 8px greenyellow, 0 0 10px greenyellow, 0 0 14px greenyellow, 0 0 16px greenyellow, 0 0 20px greenyellow, 0 0 30px greenyellow;
animation: neon-glow3 1s ease-in-out infinite alternate;  
}
.red2{
  background-color: red;
  box-shadow: 0 0 2px red, 0 0 4px red, 0 0 6px red, 0 0 8px red, 0 0 10px red, 0 0 14px red, 0 0 16px red, 0 0 20px red, 0 0 30px red;
  animation: neon-glow 1s ease-in-out infinite alternate;  
}
.ga, .ga1{
  display: none;
  font-size: 20px;
  margin-bottom: -30px;
}
@keyframes neon-glow {
  from {
    box-shadow: 0 0 2px red, 0 0 4px red, 0 0 6px red, 0 0 8px red, 0 0 10px red, 0 0 14px red, 0 0 16px red, 0 0 20px red, 0 0 30px red;
  }
  to {
    box-shadow: 0 0 4px red, 0 0 6px red, 0 0 8px red, 0 0 10px red, 0 0 14px red, 0 0 16px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
  }
}


@keyframes neon-glow2{
  from {
    box-shadow: 0 0 2px yellow, 0 0 4px yellow, 0 0 6px yellow, 0 0 8px yellow, 0 0 10px yellow, 0 0 14px yellow, 0 0 16px yellow, 0 0 20px yellow, 0 0 30px yellow;
  }
  to {
    box-shadow: 0 0 4px yellow, 0 0 6px yellow, 0 0 8px yellow, 0 0 10px yellow, 0 0 14px yellow, 0 0 16px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
  }
}
@keyframes neon-glow3{
  from {
    box-shadow: 0 0 2px greenyellow, 0 0 4px greenyellow, 0 0 6px greenyellow, 0 0 8px greenyellow, 0 0 10px greenyellow, 0 0 14px greenyellow, 0 0 16px greenyellow, 0 0 20px greenyellow, 0 0 30px greenyellow;
  }
  to {
    box-shadow: 0 0 4px greenyellow, 0 0 6px greenyellow, 0 0 8px greenyellow, 0 0 10px greenyellow, 0 0 14px greenyellow, 0 0 16pxgreenyellow, 0 0 20px greenyellow, 0 0 30px greenyellow, 0 0 40px greenyellow;
  }
}
@keyframes neon-glow4{
  from {
    box-shadow: 0 0 2px blue, 0 0 4px blue, 0 0 6px blue, 0 0 8px blue, 0 0 10px blue, 0 0 14px blue, 0 0 16px blue, 0 0 20px blue, 0 0 30px blue;
  }
  to {
    box-shadow: 0 0 4px blue, 0 0 6px blue, 0 0 8px blue, 0 0 10px blue, 0 0 14px blue, 0 0 16px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue;
  }
}
.modos-content1 a{
  margin-bottom: -21px;
}

@media (max-width: 1000px){
  .closebutton:hover{
    color: #f1f1f1;
    cursor: pointer;
  }
  .modosD{
    display: none;
  }
.dropdown{
  display: none;
}
.dropbtn{
  background-color: #111;
  color:#666666;
}
.modosbtn1{
  background-color: #111;
  color:#666666;
  cursor: pointer;
}
.dropdown-content1{
  background-color: #111;
  
}
.dropdown-content1 a{
  background-color: #111;
  margin: none;
}
.dropdown-content1:hover{
  cursor: pointer;
}

.barsNav{
    font-size: 19px;
    padding: 20px;
    color: black;
    display: block;
}
.barsNav:hover{
    background-color: rgb(113, 114, 114);
}

  #board{
    grid-template-columns: 50% 50%;
    width: 95%;
    margin: 10px;
    margin-right: 20px;
    gap:10px;
  }
  head,
body{
    overflow-x: hidden;
}
.modos-content1{
  background-color: #111;
}
.modos-content1 a{
  cursor: pointer;
}
}

