*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  font-family: Quicksand
}
body{
  height: 100vh;
  background-color: rgb(39, 39, 39); 
  text-align: center; 
}
p:nth-child(4){
font-family: Raleway;
}
.div2{
  margin-top: -50px;
}

#container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#board{
  display: grid;
  grid-template-columns: 300px 300px;
  gap:30px;
}
.square{
  width: 100%;
  height: 300px;
  cursor: pointer;  
  border-radius: 20px;

}
.div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 160px;
}
#container button{
  margin-top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  color: black;
  padding: 10px;
  font-size: xx-large;
  cursor: pointer;
  transition: 0.5s;

}
#container button:hover{
  opacity: 90%;
  transform: scale(1.1);
}

.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 12px;
  font-size: 15px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  opacity: 90%;
}


.dropdown {
  position: relative;
  color: #000000;
  border: none;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  margin: 5px;

}

.dropdown-content button{
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}


.dropdown-content button:hover {background-color: #ddd;}

.show {display:block;}


.red{
  background-color: rgb(233, 60, 60);
}
.yellow{
  background-color: rgb(230, 230, 37);
}
.blue{
  background-color: rgb(43, 43, 223);
}
.green{
  background-color: rgb(144, 187, 79);
}

.blue2{
  background-color: blue;
  box-shadow:0 0 2px blue, 0 0 4px blue, 0 0 6px blue, 0 0 8px blue, 0 0 10px blue, 0 0 14px blue, 0 0 16px blue, 0 0 20px  blue, 0 0 30px blue;
  animation: neon-glow4 1s ease-in-out infinite alternate;  
}

.yellow2{
  background-color: yellow;
  animation: neon-glow2 1s ease-in-out infinite alternate;  
  box-shadow:0 0 2px yellow, 0 0 4px yellow, 0 0 6px yellow, 0 0 8px yellow, 0 0 10px yellow, 0 0 14px yellow, 0 0 16px yellow, 0 0 20px yellow, 0 0 30px yellow;

}

.green2{
background-color: greenyellow;
box-shadow:0 0 2px greenyellow, 0 0 4px greenyellow, 0 0 6px greenyellow, 0 0 8px greenyellow, 0 0 10px greenyellow, 0 0 14px greenyellow, 0 0 16px greenyellow, 0 0 20px greenyellow, 0 0 30px greenyellow;
animation: neon-glow3 1s ease-in-out infinite alternate;  
}
.red2{
  background-color: red;
  box-shadow: 0 0 2px red, 0 0 4px red, 0 0 6px red, 0 0 8px red, 0 0 10px red, 0 0 14px red, 0 0 16px red, 0 0 20px red, 0 0 30px red;
  animation: neon-glow 1s ease-in-out infinite alternate;  
}

@keyframes neon-glow {
  from {
    box-shadow: 0 0 2px red, 0 0 4px red, 0 0 6px red, 0 0 8px red, 0 0 10px red, 0 0 14px red, 0 0 16px red, 0 0 20px red, 0 0 30px red;
  }
  to {
    box-shadow: 0 0 4px red, 0 0 6px red, 0 0 8px red, 0 0 10px red, 0 0 14px red, 0 0 16px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
  }
}


@keyframes neon-glow2{
  from {
    box-shadow: 0 0 2px yellow, 0 0 4px yellow, 0 0 6px yellow, 0 0 8px yellow, 0 0 10px yellow, 0 0 14px yellow, 0 0 16px yellow, 0 0 20px yellow, 0 0 30px yellow;
  }
  to {
    box-shadow: 0 0 4px yellow, 0 0 6px yellow, 0 0 8px yellow, 0 0 10px yellow, 0 0 14px yellow, 0 0 16px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
  }
}
@keyframes neon-glow3{
  from {
    box-shadow: 0 0 2px greenyellow, 0 0 4px greenyellow, 0 0 6px greenyellow, 0 0 8px greenyellow, 0 0 10px greenyellow, 0 0 14px greenyellow, 0 0 16px greenyellow, 0 0 20px greenyellow, 0 0 30px greenyellow;
  }
  to {
    box-shadow: 0 0 4px greenyellow, 0 0 6px greenyellow, 0 0 8px greenyellow, 0 0 10px greenyellow, 0 0 14px greenyellow, 0 0 16pxgreenyellow, 0 0 20px greenyellow, 0 0 30px greenyellow, 0 0 40px greenyellow;
  }
}
@keyframes neon-glow4{
  from {
    box-shadow: 0 0 2px blue, 0 0 4px blue, 0 0 6px blue, 0 0 8px blue, 0 0 10px blue, 0 0 14px blue, 0 0 16px blue, 0 0 20px blue, 0 0 30px blue;
  }
  to {
    box-shadow: 0 0 4px blue, 0 0 6px blue, 0 0 8px blue, 0 0 10px blue, 0 0 14px blue, 0 0 16px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue;
  }
}
